.itemStories {
    display: flex;

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin: 28px 0 0 40px;
    }

    .itemStoriesFeed {
        margin: 28px 0px 0px 32px;
        display: flex;
        width: 1424px;
        height: 192px;
        gap: 16px;
        background-color: transparent;
    }
    .empty {
        padding-top: 50px;
        text-align: center;
        width: 144px;
        height: 192px;
        font-size: 8px;
        color: white;
        background-color: rgba(71, 71, 71, 0.26);
        border-radius: 16px;
    }
}